
<div class="header">

<h1>This is PortFolio Page </h1>

<p>
<strong>Dynamic Data</strong>

</p>


</div>

<div class="table">



<table >
    <thead class="head">
        <tr>
            <th>Param in Query</th>
            <th>Method Type</th>
            <th>Method Name</th>
        </tr>
    </thead>

    <tbody class="body">

        <tr>
            <td>Name: {{name}}</td>
            <td>HTTP {{type}}</td>
            <td> {{url}}</td>
        </tr>

    </tbody>
</table>

</div>