

<h1>This is PortFolio Page</h1>

<table class="table">
    <thead class="head">
        <tr>
            <th>Param in Query</th>
            <th>Method Type</th>
            <th>Method Name</th>
        </tr>
    </thead>

    <tbody class="body">

        <tr>
            <td>Name: {{name}}</td>
            <td>HTTP {{type}}</td>
            <td> {{url}}</td>
        </tr>

    </tbody>
</table>

